<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<h1>七牛云上传照片Demo,支持格式jpg,png</h1>
<div th:if="${message}">
    <div th:text="${message}" style="display: none" id="message"></div>
    <script>
        var message = document.getElementById("message").innerText;
        alert(message);
    </script>
</div>
<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr>
                <td>File to upload:</td>
<!--                TODO: 支持多文件上传<input type="file" multiple="multiple" name="file" accept="image/png,image/jpeg">-->
                <td><input type="file" name="file" accept="image/png,image/jpeg"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Upload"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>